/*Header Row/Title/Add Button: 000000
  Track Row/Input Fields/Button Background: ffe866
  Playlist/Downloading Row: efccff
  Complete Row: 96ff66
  Error Row: ff6666
  Background: 000000
  Hover Row: efccff;
  Opacity: 1;
*/
label{
  background-color:white;
  color:black;
}
p{
  background-color:white;
  color:black;
}
div{
  opacity: 1;
}
input[type="text"]::-webkit-input-placeholder {
    color: #000000;
}
body{
  background-color: #000000;
}
tr{
  border: solid black;
}
input{
  border: solid #000000 2px;
  background-color: #ffe866;
}
.title{
  color: #000000;
}
.primary-color{
  color:#000000;
}
.secondary-color{
  color: #ffe866;
}
.playlist-row{
  background-color:#efccff;
}
.header-row{
  background-color:#000000;
}
.complete-row{
  background-color:#96ff66;
}
.error-row{
  background-color:#ff6666;
}
.downloading-row{
  background-color:#efccff;
}
.default-row{
  background-color:#ffe866;
}
.hovering-row{
  background-color:#efccff;
}
.button{
  background-color: #ffe866;
  color: #000000;
}
.background-color{
  background-color:#000000;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.add-button {
  background-color:#000000;
}

.poormansjams-button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #000000;
  font-size: 17px;
  background: #ffe866;
  padding: 6px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.poormansjams-button:hover {
  background: #000000;
  border: solid #ffe866 2px;
  color: #ffe866;
  text-decoration: none;
}