/*Header Row/Title/Add Button: 2459BC
  Track Row/Input Fields/Button Background: 6F9B90
  Playlist/Downloading Row: 3D4CFA
  Complete Row: 5C6BA7
  Error Row: ff6666
  Background: B2F8F2
  Hover Row: 6CD750;
  Opacity: 1;
*/
label{
  background-color:black;
  color:white;
}
p{
  background-color:black;
  color:#cf66ff;
}
div{
  opacity: 1;
}
input[type="text"]::-webkit-input-placeholder {
    color: #2459BC;
}
body{
  background-color: #B2F8F2;
}
tr{
  border: solid black;
}
input{
  border: solid #2459BC 2px;
  background-color: #6F9B90;
}
select{
  border: solid #2459BC 2px;
  background-color: #6F9B90;
}

.Row
{
    display: table;
    width: 100px;
    border-spacing: 0px;
    table-layout: fixed;
}
.Column
{
    display: table-cell;
    border-spacing: 0px;
    width: 150px;

}

.title{
  color: #2459BC;
}
.primary-color{
  color:#2459BC;
}
.secondary-color{
  color: #6F9B90;
}
.playlist-row{
  background-color:#3D4CFA;
}
.header-row{
  background-color:#2459BC;
}
.complete-row{
  background-color:#5C6BA7;
}
.error-row{
  background-color:#ff6666;
}
.downloading-row{
  background-color:#3D4CFA;
}
.default-row{
  background-color:#6F9B90;
}
.hovering-row{
  background-color:#6CD750;
}
.button{
  background-color: #6F9B90;
  color: #2459BC;
}
.background-color{
  background-color:#B2F8F2;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.add-button {
  background-color:#2459BC;
}

.poormansjams-button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #2459BC;
  font-size: 17px;
  background: #6F9B90;
  padding: 6px 20px 10px 20px;
  border: solid #2459BC 2px;
  text-decoration: none;
}

.poormansjams-button:hover {
  background: #2459BC;
  border: solid #6F9B90 2px;
  color: #6F9B90;
  text-decoration: none;
}