<head>

</head>
<div ng-app="myApp" ng-controller="myCtrl">
<center>
	<h1>Grand Theft Audio</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!––
<form action="{% url 'GrattifyWebApp:addSong' %}" method="post" > -->
<form novalidate>
{% csrf_token %}
<input type="radio" ng-model="track.type" value="track" checked>Track
<input type="radio" ng-model="track.type" value="album">Album
<input type="text"  ng-model="track.artist" placeholder="Artist" autofocus/>
<input type="text"  ng-model="track.title"  placeholder="Track or Album Title"/>
<input type="text"  ng-model="track.ytlink" placeholder="Youtube Link (optional)"/>
<br>

<button type="submit" name="button" value="download">Download All</button><br>
</form>
<button ng-click="addTrack()">Add</button>
<br>
<button ng-click="clearTracks()">Clear All</button>
<table id="tracksTable" border="1">
	<thead>
		<tr>
			<th>Artist</th>
			<th>Track</th>
		</tr>
	</thead>
	<tr ng-repeat="t in tracks">
		<td>
			{{ t.artist }}
		</td>
		<td>
			{{ t.title }}
		</td>
	</tr>
	<tr><td>{{track.artist}}</td></tr>
</table>
<p>{{track.artist}}</p>
</center>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
	var app = angular.module('myApp',[]);
	app.controller('myCtrl', function($scope){
		$scope.tracks = [];
		$scope.track = {};
		$scope.addTrack = function(){
			$scope.tracks.push($scope.track);
		}
		$scope.clearTracks = function(){
			alert("clearing")
			$scope.tracks = [];
		}
	})
</script>	