<!DOCTYPE html>
{% load static %}
<head>
	<title>Grand Theft Audio</title>
	<center><h1><font color="#cf66ff">Grand Theft Audio</font></h1><center>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<!-- Latest AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Angular Routes -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	<link rel="stylesheet" href="{% static "styles.css" %}"></link>

	<script src="{% static "script.js" %}"></script>
</head>
<body ng-app="myApp">
	<div  ng-controller="indexCtrl" class="container-fluid">
	<center>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% csrf_token %}
	<br>
	<br>
	<input type="radio" ng-model="entry.entryType" ng-keypress="onKeyPress($event,entry)" value="track"/><font color="#ffe680">Track</font>
	<input type="radio" ng-model="entry.entryType" ng-keypress="onKeyPress($event,entry)" value="album"/><font color="#ffe680">Album</font>
	<input type="text"  ng-model="entry.artist" placeholder="Artist" ng-keypress="onKeyPress($event,entry)" id="artist_input"/>
	<input type="text"  ng-model="entry.title"  placeholder="Track or Album Title" ng-keypress="onKeyPress($event,entry)"/>
	<input type="text"  ng-model="entry.ytlink" placeholder="Youtube Link (optional)" ng-keypress="onKeyPress($event,entry)"/>
	<button ng-click="processEntry(entry)" class="btn" style="background-color:#cf66ff">
		<span class="glyphicon glyphicon-plus" style="color:#ffe680"></span>
	</button>
	<br>
	<div ng-show="selectedPlaylists.length == 0">
		<br>
		<font color="#cf66ff">OR</font>
		<br>
	</div>
	<br>
	<button ng-click="loginSpotify()" class="gratify-button">Import Spotify</button>
	<button   ng-click="downloadTracksRecursive(selectedPlaylists,0,0)" 
			  ng-show="selectedPlaylists.length > 0"
			  class="gratify-button">Download All</button>
	{% verbatim %}
		<br>
		<div class="container" ng-show="selectedPlaylists.length > 0" >
		<table class="table table-striped">
			<thead >
				<tr style="background-color:#cf66ff">
					<th style="width:4%"></th>
					<th style="width:32%"><h4>Artist</h4></th>
					<th style="width:32%"><h4>Track</h4></th>
					<th style="width:32%"><h4>YouTube</h4></th>
				</tr>
			</thead>
			<tbody ng-repeat="p in selectedPlaylists">
				<tr ng-if="selectedPlaylists.length > 1 && p.tracks.length > 0" 
					ng-mouseover="modifyPlaylist=true;" 
					ng-mouseleave="modifyPlaylist=false;" 
					style="background-color:#efccff">
					<td >
						<button ng-show="modifyPlaylist" ng-click="deletePlaylist(p.id)" class="btn btn-danger btn-xs" title="Remove Playlist">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
					<td align="center" colspan="3"><h5>{{ p.name }}</h5></td>
				</tr>
				<tr ng-repeat="t in p.tracks" 
					ng-mouseover="modifyRow=true;" 
					ng-mouseleave="modifyRow=false;" 
					ng-style="getRowStyle(t.status)">
					<td>
						<button ng-show="modifyRow" ng-click="deletePlaylistRow(p.id,$index)" class="btn btn-danger btn-xs" title="Remove">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
					<td ng-click="editPlaylistRow(p.id,$index)">
						<span ng-show="!modifyRow">{{ t.artist }}</span>
						<input type="text" 
							   ng-model="t.artist" 
							   ng-show="modifyRow" 
							   class="yellow-input"
							   onclick="this.select()"></input>
					</td>
					<td ng-click="editPlaylistRow(p.id,$index)">
						<span ng-show="!modifyRow">{{ t.title }}</span>
						<input type="text" 
							   ng-model="t.title" 
							   ng-show="modifyRow" 
							   class="yellow-input"
							   onclick="this.select()"></input>
					</td>
					<td ng-click="editPlaylistRow(p.id,$index)">
						<a ng-show="!modifyRow" target="_blank" href="{{ t.ytlink }}">{{ t.ytlink }}</a>
						<input type="text" 
							   ng-model="t.ytlink" 
							   ng-show="modifyRow || !t.ytlink" 
							   placeholder="Link Needed" 
							   class="yellow-input"
							   onclick="this.select()"
							   ng-change="removeLinkError(t)"></input>
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"
							  style="color:#efccff"
							  ng-show="t.ytlink=='Smart Search...'"></span>
					</td>
					<td ng-if="t.status=='ERROR'"
						style="background-color:#000000"
						ng-mouseleave="showError = false"
						ng-mouseover="showError = true">
							<span ng-show="!showError"
								  class="glyphicon glyphicon-exclamation-sign" 
								  title="{{t.err}}"
								  style="color:red">
							</span>
							<button ng-show="t.err=='Download failed.' && showError" 
									class="btn btn-danger"
									ng-click="downloadSingleTrack(t)">{{ t.err }} Click to try again</button>
							<span ng-show="t.err!='Download failed.' && showError"><font color="red">{{ t.err }}</font></span>
					</td>
					<td ng-if="t.status=='DOWNLOADING'"
						style="background-color:#000000">
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"
							  style="color:#efccff"></span>
					</td>
					<td ng-if="t.status=='COMPLETE'"
						style="background-color:#000000">
						<span class="glyphicon glyphicon-ok"
							  style="color:green">
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endverbatim %}
	</center>
	</div>
</body>
