<!DOCTYPE html>
{% load static %}
<head>
	<title>Spotify Playlist Selection</font></title>
	<center><h1><font color="#cf66ff">Select Playlists</font></h1><center>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<!-- Latest AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Angular Routes -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<!-- My script and css -->
	<script src="{% static "script.js" %}"></script>
	<link rel="stylesheet" href="{% static "styles.css" %}"></link>


</head>
<body ng-app="myApp" ng-keypress="onKeyPress($event,entry)">
	{%verbatim%}
<div ng-controller="spotifyCtrl">
	<br>
	<ul class="list-container">
        <li ng-repeat="p in playlists" class="list-el">
            <input type="checkbox" id="{{ p.id }}" checked/>
            <label for="{{ p.id }}"><font color="#ffe680">{{ p.name }}</font></label>
        </li>
	</ul>
	<br>
	<button class="gratify-button" 
			ng-click="addPlaylistsToQueue()"
			ng-show="playlists.length > 0">Import</button>
	<div ng-show="pageStatus == 'LOADING'">
		<font color="#cf66ff"><h4>Loading Your Playlists </h4></font>
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"
							  style="color:#cf66ff"></span>
	</div>
	<div ng-show="pageStatus == 'NO PLAYLISTS'">
		<font color="#cf66ff"><h4>No Playlists Found</h4></font>
	</div>
	<div ng-show="pageStatus == 'ERROR'">
		<font color="#cf66ff"><h4>{{ err }}</h4></font>
	</div>

</div>
{%endverbatim%}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% csrf_token %}
	
	</center>
	</div>
</body>