<!DOCTYPE html>
<html ng-app="myApp" ng-controller="headCtrl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--Angular Bootstrap UI (used for audiocomplete)-->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
		<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>

		{% load pipeline %}
		{% javascript 'scripts' %}
		<!-- Google API -->
		<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

		{%verbatim%}<link rel="stylesheet" ng-href="{{dynamicStylesheet}}" ></link>{%endverbatim%}
	</head>
	{% block content %}{% endblock %}
</html>