{% extends "PoorMansJamsApp/base.html" %}
<!--{% load static %}-->
{%block content%}
<body>
	{%include 'PoorMansJamsApp/header.html'%}
	<div  ng-controller="indexCtrl" class="container-fluid">
		<center>
		{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		{% csrf_token %}
		{% verbatim %}
		<title>The Poor Man's Jams [Beta]</title>
		<center>
		<h1><font class="title">The Poor Man's Jams [Beta]</font></h1>
		<center>
			<br>
			<br>
			<div ng-show="importSpotify == false">
				<div>
					<input type="radio" ng-model="entry.entryType" ng-keypress="onKeyPress($event,entry)" value="Track"/><font class="secondary-color">Track</font>
				</div>
				<div>
					<input type="radio" ng-model="entry.entryType" ng-keypress="onKeyPress($event,entry)" value="Album"/><font class="secondary-color">Album</font>
				</div>
			</div>
				<input type="text" ng-model="entry.artist" placeholder="Artist" uib-typeahead="address for address in getArtists($viewValue)"  id="artist_input">
				<input type="text" ng-model="entry.title" placeholder="{{entry.entryType}} Title" ng-keypress="onKeyPress($event,entry)" uib-typeahead="title for title in getTrackOrAlbums($viewValue)" >
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				<div ng-show="noResults">
					<i class="glyphicon glyphicon-remove"></i> No Results Found
				</div>
				<input type="text"  ng-model="entry.ytlink" placeholder="Youtube Link (optional)" ng-keypress="onKeyPress($event,entry)"/>
				<button ng-click="debugSearch(entry)" class="btn add-button" >
				<span class="glyphicon glyphicon-plus" class="secondary-color" ></span>
				</button>
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate primary-color"
										ng-show="loading==true"></span>
			<br>

			<div ng-repeat="r in linkData" align="left">
				<b>TITLE:</b> {{r.title}}<br>
				<b>SCORE:</b> {{r.algScore}}<br>
				<b>ORIGINAL ORDER:</b> {{r.originalOrder}}<br>
				<b>VIEWS:</b> {{r.views}}<br>
				<b>LENGTH:</b> {{r.duration}}<br>
				<b>LIKES:</b> {{r.likes}}<br>
				<b>DISLIKES:</b> {{r.dislikes}}<br>
				<b>FAVORITES:</b> {{r.favorites}}<br>
				<b>COMMENTS:</b> {{r.comments}}<br>
				<a href="{{r.link}}" target="_blank">LINK</a><br>

				<br>
				<br>
			</div>

			<div ng-show="importSpotify == false">

				

				<div class="container" ng-show="selectedPlaylists.length > 0" >
					<table class="table">
						<thead >
							<tr class="header-row">
								<th style="width:4%"></th>
								<th style="width:32%">
									<h4>Artist</h4>
								</th>
								<th style="width:32%">
									<h4>Track</h4>
								</th>
								<th style="width:32%">
									<h4>YouTube</h4>
								</th>
							</tr>
						</thead>
						<tbody ng-repeat="p in selectedPlaylists">
							<tr ng-if="selectedPlaylists.length > 1 && p.tracks.length > 0" 
								ng-mouseover="modifyPlaylist=true;" 
								ng-mouseleave="modifyPlaylist=false;"
								class="playlist-row" >
								<td >
									<button ng-show="modifyPlaylist" ng-click="deletePlaylist(p.id)" class="btn btn-danger btn-xs" title="Remove Playlist">
									<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
								<td align="center" colspan="3">
									<h5>{{ p.name }}</h5>
								</td>
							</tr>
							<tr ng-repeat="t in p.tracks" 
								ng-mouseover="hovering=true;" 
								ng-mouseleave="hovering=false;"
								ng-click="modifyRow=true;"
								ng-class="getRowClass(t.status,hovering)">
								<td>
									<button ng-show="hovering && !modifyRow" ng-click="deletePlaylistRow(p.id,$index)" class="btn btn-danger btn-xs" title="Remove">
									<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button ng-show="modifyRow" ng-click="modifyRow=false;$event.stopPropagation();" class="btn btn-success btn-xs" title="Done">
									<span class="glyphicon glyphicon-ok"></span>
									</button>
								</td>
								<td>
									<span ng-show="!modifyRow">{{ t.artist }}</span>
									<input type="text" 
										ng-model="t.artist" 
										ng-show="modifyRow" 
										onclick="this.select()"></input>
								</td>
								<td>
									<span ng-show="!modifyRow">{{ t.title }}</span>
									<input type="text" 
										ng-model="t.title" 
										ng-show="modifyRow" 
										onclick="this.select()"></input>
								</td>
								<td>
									<a ng-click="$event.stopPropagation();" ng-show="!modifyRow" target="_blank" href="{{ t.ytlink }}">{{ t.ytlink }}</a>
									<input type="text" 
										ng-model="t.ytlink" 
										ng-show="modifyRow || !t.ytlink" 
										placeholder="Link Needed" 
										onclick="this.select()"
										ng-change="removeLinkError(t)"></input>
									<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate primary-color"
										ng-show="t.ytlink=='Smart Search...'"></span>
								</td>
								<td ng-if="t.status=='ERROR'"
									class="background-color"
									ng-mouseleave="showError = false"
									ng-mouseover="showError = true">
									<span ng-show="!showError"
										class="glyphicon glyphicon-exclamation-sign" 
										title="{{t.err}}"
										style="color:red">
									</span>
									<button ng-show="t.err=='Download failed.' && showError" 
										class="btn btn-danger"
										ng-click="downloadSingleTrack(t)">{{ t.err }} Click to try again</button>
									<span ng-show="t.err!='Download failed.' && showError"><font color="red">{{ t.err }}</font></span>
								</td>
								<td ng-if="t.status=='DOWNLOADING'"
									class="background-color">
									<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate primary-color"></span>
								</td>
								<td ng-if="t.status=='COMPLETE'"
									class="background-color">
									<span class="glyphicon glyphicon-ok"
										style="color:green">
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			{% endverbatim %}
		</center>
	</div>
</body>
{%endblock%}