{% extends "PoorMansJamsApp/base.html" %}
{%block content%}
<body ng-app="myApp" ng-keypress="onKeyPress($event,entry)">
<title>Spotify Playlist Selection</font></title>
	<center>
	<h1><font class="primary-color">Select Playlists</font></h1>
	<center>
{%verbatim%}
<div ng-controller="spotifyCtrl">
<br>
<ul class="list-container">
<li ng-repeat="p in playlists" class="list-el">
<input type="checkbox" id="{{ p.id }}" checked>
<font class="secondary-color">{{ p.name }}</font>
</input>
</li>
</ul>
<br>
<button class="poormansjams-button" 
	ng-click="addPlaylistsToQueue()"
	ng-show="playlists.length > 0">Import</button>
<button class="poormansjams-button" 
	ng-click="cancel()">Cancel</button>
<div ng-show="pageStatus == 'LOADING'">
<font class="primary-color"><h4>Loading Your Playlists </h4></font>
<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"
	class="primary-color"></span>
</div>
<div ng-show="pageStatus == 'NO PLAYLISTS'">
<font class="primary-color"><h4>No Playlists Found</h4></font>
</div>
<div ng-show="pageStatus == 'ERROR'">
<font class="primary-color"><h4>{{ err }}</h4></font>
</div>
</div>
{%endverbatim%}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% csrf_token %}
</center>
</div>
</body>
{%endblock%}