/*Header Row/Title/Add Button: ff0900
  Track Row/Input Fields/Button Background: 00ddff
  Playlist/Downloading Row: 0900ff
  Complete Row: 6fff00
  Error Row: ff6666
  Background: 000000
  Hover Row: f7ff00;
*/
input[type="text"]::-webkit-input-placeholder {
    color: #ff0900;
}
body{
  background-color: #000000;
}
tr{
  border: solid black;
}
input{
  border: solid #ff0900 2px;
  background-color: #00ddff;
}
.title{
  color: #ff0900;
}
.primary-color{
  color:#ff0900;
}
.secondary-color{
  color: #00ddff;
}
.playlist-row{
  background-color:#0900ff;
}
.header-row{
  background-color:#ff0900;
}
.complete-row{
  background-color:#6fff00;
}
.error-row{
  background-color:#ff6666;
}
.downloading-row{
  background-color:#0900ff;
}
.default-row{
  background-color:#00ddff;
}
.hovering-row{
  background-color:#f7ff00;
}
.button{
  background-color: #00ddff;
  color: #ff0900;
}
.background-color{
  background-color:#000000;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.add-button {
  background-color:#ff0900;
}

.gratify-button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ff0900;
  font-size: 17px;
  background: #00ddff;
  padding: 6px 20px 10px 20px;
  border: solid #ff0900 2px;
  text-decoration: none;
}

.gratify-button:hover {
  background: #ff0900;
  border: solid #00ddff 2px;
  color: #00ddff;
  text-decoration: none;
}